:root {
    --header-padding-small: 0.8rem 2rem;
    --header-padding-medium: 0.8rem 15rem;
    --header-padding-large: 0.8rem 0;
}

.header {
    padding: var(--header-padding-small);

    @media screen and (min-width: 768px) {
        padding: var(--header-padding-medium);
    }

    @media screen and (min-width: 769px) and (max-width: 1370px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--header-padding-large);

        .logo {
            display: none;
        }
    }
}

.header{

    background-color: #FDF6E9;

    #logo{
        width: 32rem;
    }
    .menu-items{
        cursor: pointer;
        font-size: 1.6rem;
        color: #5B4B45;

        &:hover{
            color: #C6A264;
        }
    }
}

