.card {
  width: 25rem;
  height: 40rem;
  box-shadow: 7px 5px 32px -5px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-sizing: border-box;

  .card-content{
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    .card-title{
      height: 4rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: #C6A264;
    }

    .card-text{
      font-size: 1.4rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: #5B4B45;
    }
  }
}

@media screen and (max-width: 1265px){
  .card {
    width: 20rem;
  }
}
