.carousel{
  background-color: #C6A264;
    .carousel-text{
      gap: 2rem;
      text-align: center;
      font-weight: 500;
      font-style: italic;
    }

    .carousel-author{
      font-weight: 200;
      border-bottom: 1px solid white;
    }
  

  @media screen and (max-width: 720px){
      .carousel-text{
        font-size: 1.5rem;
      }
      .carousel-author{
        font-size: 1rem;
      }
    
  }

  @media screen and (min-width: 721px) {
    .carousel-text{
      font-size: 2rem;
    }
    .carousel-author{
      font-size: 1rem;
    }
  }

}